.input{
	background: $dark;
	border:none;
	height: 40px;
	color:$color-input;
	outline: none;
	border-radius: 8px;
	padding: 10px;
	width: 100%;
}
.common{
	height: 50px;
	color: white;
	font-size: 14px;
	padding: 14px;
	margin-top: 10px;
	background: #3b363f;
	border-radius: 10px;
	cursor: pointer;
}
.userList{

	height: calc(80vh - (102vh - 100%));
	list-style: none;
	padding: 0;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #ccc #f4f4f4;
}

.userList::-webkit-scrollbar {
	width: 6px; /* ширина скроллера */
}

.userList::-webkit-scrollbar-track {
	background:transparent /* цвет трека */
}

.userList::-webkit-scrollbar-thumb {
	background-color: #4d4d69;
	border-radius: 6px;
}


.userList::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}
.userItem{

	display: flex;
	height: 60px;
	margin: 5px;
	cursor: pointer;
	border-radius: 8px;
	align-items: center;
	padding: 4px;
}

.userItem:hover{
	background: #302f41;


}
.userPhoto{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.name{
	color: white;
	display: flex;
	align-items: center;
	font-weight: 300;
	gap: 10px;
}

.info{

	height: 100%;
	height: 100%;
	display: flex;
	align-items: start;
	justify-content: space-between;
	width: 100%;
}
.container{

	padding: 10px;
	width: 50%;
}
.logout{
	cursor: pointer;
	color: $color-input;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.unread{
	width: 10px;
	height: 10px;
	background: #abaed0;
	border-radius: 50%;
	margin-top: 10px;
}
.online{
	width: 10px;
	height: 10px;
	background: #8cde7d;
	border-radius: 50%;

}