.input{
	background: $dark;
	border:none;
	height: 40px;
	color:$color-input;
	outline: none;
	border-radius: 8px;
	padding: 10px;

}
.header{
	color: white;
	text-align: center;
}
.text{
	color: #abaed0;
}
.button{
	background:$purple;
	outline: none;
	border: none;
}