.input{
	background: $dark;
	border:none;
	height: 40px;
	color:$color-input;
	outline: none;
	border-radius: 8px;
	padding: 10px;
	 svg {
		display: inline-block;
		color: #ffffff !important;
	}
	input{
		color: $color-input;
		background: $dark!important;
	}
	input::placeholder {
		color:$color-input; 	}
}
.input::placeholder {
	color:$color-input; 	}

.header{
	color: white;
	text-align: center;
}
.text{
	color: #abaed0;
}
.button{
	background:$purple;
	outline: none;
	border: none;
	color: white;
}
.button:hover{
	outline: none;
	color: white;
	background: $hover-purple;

}
.button:focus{
	outline: none;


}
.error{
	font-size: 10px;
	color: #f17e7e;
}

