/* VARIABLES */

$color: rgba(255, 255, 255, 0.87);
$background-color: #242424;
$color-light: #213547;
$background-color-light: #fff;
$main-color:#1a1825;
$dark:#100f1d;
$color-input: #5e5e81;
$purple: #8960b7